h1 {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

img {
  width: 250px;
  height: 250px;
}
form {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: green;
}

body {
  background-color: whitesmoke;
}